---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<main>
  <h1>Element Nova</h1>

  <p>Tools to improve your game</p>
<section>
  <article>
    <a href="http://thecrmarket.com" target="_blank">The CR Market</a>

  </article>

  <article>
  <a href="https://warcraft-recipes.com/" target="_blank">Warcraft Recipe Smithy</a>

  </article>

  <article>
    FFRK Magicite Builder: - Coming Soon -
  </article>

  <article>
    Project #4: - Coming Soon -
  </article>

  <article>
    Project #5: - Coming Soon -
  </article>
</section>
  {{ content | safe }}

</main>
