.tdbc-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  max-width: 100%;
  padding: 2rem;
  position: relative;
  width: 100%;

  @include media("≥tablet") {
    flex-direction: row;
  }

  &__title {
    align-self: center;
    font-size: $tdbc-h2-font-size;
    line-height: 1.15;
    margin-bottom: 1rem;
    text-decoration: none;
    
    @include media("≥tablet") {
      max-width: 33%;
      text-align: right;
      word-spacing: 100vw;
    }
  }

  /* stylelint-disable selector-max-type, selector-no-qualifying-type */
  a.tdbc-card__title {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 180ms box-shadow ease-in;
      border-radius: 8px;
      content: "";
    }

    &:focus {
      outline: none;

      &::before {
        box-shadow: 0 0 0 3px tdbc-color("primary");
      }
    }
  }

  &__content {
    padding: 24px;
    
    @include media("≥tablet") {
      margin-left: 100px;
    }

    a:last-child {
      align-self: start;
      margin-top: auto;
    }

    p {
      position: relative;
      margin: 0 0 1rem;
      z-index: 1;
    }

    > ul {
      list-style-type: disc;
      padding-left: 1rem;

      li + li {
        margin-top: 0.5rem;
      }
    }
  }

  &:hover a.tdbc-card__title::before {
    box-shadow: 0 0 0 3px tdbc-color("primary");
  }

  img:first-child {
    object-fit: cover;
    max-height: 10em;
    border-radius: $tdbc-border-radius $tdbc-border-radius 0 0;
  }
  // stylelint-enable

  &--alt {
    background: transparent;
    color: #fff;
    margin-bottom: 0;

    .tdbc-card__title {
      font-size: $tdbc-h1-font-size;
      max-width: 90%;
      word-spacing: initial;
    }
  }

  &--outlined {
    border: 1px solid scale-color($tdbc-color-gray, $lightness: 50%);
    background-color: transparent;
    box-shadow: none;
  }
}
